@font-face {
    font-family: Play;
    src: url(./PlayfairDisplay-Regular.9647c7fa.ttf);
}
@font-face {
    font-family: Roobert;
    src: url(./Roobert-Regular.286574d1.ttf);
}
@font-face {
    font-family: Roobert;
    src: url(./Roobert-Bold.005c37fb.ttf);
    font-weight: 500;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
#main{
    position: relative;
    cursor: none;
    background-color: #FFFAF0;
}
/* ***********Custom-cursor*********** */
#cursor{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    z-index: 9999999;
    cursor: none;
 
     pointer-events: none;
   /* transition: left 0.2s ease, top 0.2s ease; */
  
}


#award{
    height: 60px;
    width: 180px;
    background-color: black;
    position: fixed;
    left: -4.5%;
    z-index: 99;
   transform: rotate(-90deg);
   align-items: center;
   justify-content: center;
   display: flex;
    top: 60%;
    gap: 10px;
    cursor: none;
   
}

#award h4{
    color: #fff;
    font-family: Roobert;
    font-weight: 400;
}
#award h1{
    color: #fff;
    transform: rotate(90deg);
    font-family: Roobert;
    font-weight: 500;
    font-size: 25px;
}

#nav{
    cursor: none;
}

#page1{
    height: 100vh;
    width: 100%;
    position: relative;
    /* background-color: blue; */
}
#page1>h1{
   position: absolute;
   z-index: 99;
   font-family: Play;
   color: #fff;
   font-size: 73px;
   font-weight: 300;
   line-height: 69px;
   right: 0%;
   text-align: center;
   top: 35%;
   width: 40%;
   letter-spacing: -3px;
}
#page1>p{
    position: absolute;
   z-index: 99;
   color: #fff;
   font-family: Roobert;
   position: absolute;
   top: 58%;
   right: 10%;
   width: 20%;
   text-align: center;
   font-size: 20px;
   line-height: 28px;
}
#page2{
    min-height: 100vh;
    width: 100%;
   position: relative;
}
#page1 canvas{
    max-height: 100vh;
    max-width: 100vw;
    position: relative;
}
#page2 h1{
    font-family: Play;
    text-align: center;
    font-size: 85px;
    font-weight: 400;
    line-height: 75px;
    letter-spacing: -2px;
    margin-top: 30vh;
}
#text-center{
    height: 80vh;
    width: 80vw;
    margin-left: 10vw;
    margin-top: 33vh;
    /* background-color: aqua; */
}
#text-center p{
     font-family: Roobert;
     text-align: center;
     font-size: 1.5vw;
    
}
#text-center h2{
    font-family: Play;
    font-size: 4.2vw;
    font-weight: 400;
    text-align: center;
    line-height: 4.2vw;
    letter-spacing: -2px;
    margin-top: 6vh;
   
}
#text-center p span{
    opacity: 0;
}
#text-center>h2>span{
    opacity:0
}
#page2>img{
    position: absolute;
    top: -40%;
    width: 75vw;
    height: 155vh;
    left: 10%;
    transform: translateX(-50%);
    z-index: 99;
}
#page3{
    height: 100vh;
    width: 100%;
    /* background-color: #fff; */
    display: flex;
    align-items: center;
    justify-content: center;
}
#text{
    height: 80vh;
    width: 70%;
    /* background-color: blue; */
    padding-top: 5%;
}
#text p{
    text-align: center;
    font-family: Roobert;
    font-size: 1.7vw;
    
}
#text p span{
    opacity: 0;
}
#text h2:nth-child(2){
    font-family: Play;
    font-size: 4.2vw;
    font-weight: 400;
    text-align: center;
    line-height: 4.2vw;
    letter-spacing: -2px;
    padding-top: 40px;
}
#text h2:nth-child(3){
    font-family: Play;
    font-size: 4.2vw;
    font-weight: 400;
    text-align: center;
    line-height: 4.2vw;
    letter-spacing: -2px;
    padding-top: 50px;
}
#text h2:nth-child(2) span{
    opacity: 0;
}
#text h2:nth-child(3) span{
    opacity: 0;
}
#page4{
    min-height: 100vh;
    width: 100%;
    background-color: #fff;
    position: relative;
}
#container{
    height: 50vh;
    width: 100%;
    background-color: #FFFAF0;
    display: flex;
    position: relative;
}
#container #right{
    height: 150vh;
    width: 40%;
    display: flex;
    padding-top: 6%;
    justify-content: center;
    /* background-color: aquamarine; */
}
#container #left{
    height: 100vh;
    width: 50%;
    /* background-color: aqua; */
    position: relative;
}
#right img{
    height: 500px;
    width: 650px;
}
#text1{
    height: 50vh;width: 100%;
    /* background-color: blue; */
    position: absolute;
    top: 50%;
}
#text1 h4{
    font-family: Roobert;
    font-weight: 300;
    font-size: 20px;
    padding-left: 10px;
}
#text1 h2{
    font-family: Play;
    font-weight: 400;
    font-size: 3vw;
    line-height: 3vw;
    letter-spacing: -2px;
    padding-left: 60px;
    padding-top: 20px;
}
#text2{
    height: 50vh;width: 100%;
    /* background-color: blue; */
    position: absolute;
    top: 100%;
}
#text2 h4{
    font-family: Roobert;
    font-weight: 300;
    font-size: 20px;
    padding-left: 10px;
}
#text2 h2{
    font-family: Play;
    font-weight: 400;
    font-size: 3vw;
    line-height: 3vw;
    letter-spacing: -2px;
    padding-left: 60px;
    padding-top: 20px;
}
#text3{
    height: 50vh;width: 100%;
    /* background-color: blue; */
    position: absolute;
    top: 160%;
}
#text3 h4{
    font-family: Roobert;
    font-weight: 300;
    font-size: 20px;
    padding-left: 10px;
}
#text3 h2{
    font-family: Play;
    font-weight: 400;
    font-size: 3vw;
    line-height: 3vw;
    letter-spacing: -2px;
    padding-left: 60px;
    padding-top: 20px;
}
#page4{
    height: 100vh;
    width: 100%;
    background-color: #fff;
    position: relative;
    display: flex;
    justify-content: center;
    
   
}
#logo-container{
    height: 70vh;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    /* background-color: aqua; */
    margin-top: 10%;
}
.element{
  height: 40px;
  width: 150px;
  /* background-color: blue ; */
  position: relative;
}
.element img{
    object-fit: cover;
    object-position: center;
   
}
#page5{
    min-height: 50vh;
    width: 100%;
    background-color: #fff;
    position: relative;
}
#page5 h1{
    font-family: Play;
    font-weight: 400;
    font-size: 5.6vw;
    line-height: 5.6vw;
    letter-spacing: -2px;
    text-align: center;
    padding-top: 8%;
    width: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    
}
#page6 canvas{
    height: 100vh;
    width: 100vw;
    position: relative;
}
#page5>h1>span{
    opacity: 0;
}
#page6 h2{
    position: absolute;
    top: 40%;
    font-family: Play;
    font-weight: 400;
    font-size: 2.5vw;
    color: #fff;
    width: 60%;
    line-height: 2.8vw;
    padding-left: 13%;
}
#elem-container{
    height: 10vh;
    width: 40%;
    /* background-color: blue; */
    position: absolute;
    top: 70%;
    margin-left: 13%;
    gap: 20px;
    display: flex;
    align-items: center;
    opacity: 0;
}
.el{
    height: 100%;
    width: 25%;
    /* background-color: aqua; */
   
}
.el h4{
    font-family: Roobert;
    color: #fff;
    font-weight: 400;
    font-size: 1.05vw;
}
.el #line{
    background-color: #fff;
    margin-top: 10px;
    height: 0.7px;
    width: 100%;
}
.el h5{
    font-family: Roobert;
    font-weight: 400;
    color: #fff;
    padding-top: 10px;
    font-size: 1.05vw;
}
#page6>h2>span{
    opacity:0
}
#page7 {
    height: 70vh;
    width: 100%;
    position: relative;
}
#text-page7{
    height: 60vh;
    width: 65%;
    /* background-color: blue; */
    padding-left: 4%;
    margin-top: 10%;
}
#text-page7 p{
    font-family: Roobert;
    font-size: 1.2vw;
}
#text-page7 h2{
    font-family: Play;
    font-weight: 400 ;
    font-size: 4.2vw;
    line-height: 4.2vw;
    letter-spacing: -2px;
    padding-top: 4%;
}
#page7 h4{
    color: #E799AA;
    font-family: Roobert;
    font-weight: 400;
    position: absolute;
    right: 3%;
    top: 40%;
    font-size: 20px;
  
   
   
}

#page7 h4::after{
    content: "" ;
    position: absolute;
    height: 2px;
    width: 30%;
    left: 0;
    right: auto;
    bottom: -10px;
    background-color: #E799AA;
    transition: all ease 1s;

}
#page7 h4:hover::after{
    left: initial;
    right: 0;
    width: 70%;
}
#page8{
    height: 110vh;
    width: 100%;
    background-color: #fff;
    display: flex;
    position: relative;
}
#page8-left{
    height: 110vh;
    width: 50%;
    background-color: #FFFAF0;
    padding-left: 4%;
    padding-top: 5%;
}
#page8-right{
    height: 110vh;
    width: 50%;
    padding-left: 7%;
    padding-top: 5%;
}
#page8-left p{
    font-family: Roobert;
    font-weight: 400;
    font-size: 20px;
   
}
#page8-left h2{
    font-family: Play;
    font-size: 4.2vw;
    line-height: 4.2vw;
    letter-spacing: -2px;
    font-weight: 400;
    padding-top: 30px;
    width: 80%;
    
}
#page8-left h4{
    color: #E799AA;
    font-family: Roobert;
    font-weight: 400;
    font-size: 20px;
    padding-top: 80px;
    position: relative;
    width: 118px;
    
}
#page8-left h4::after{
    content: "" ;
    position: absolute;
    height: 2px;
    width: 30%;
    left: 0;
    right: auto;
    bottom: -10px;
    background-color: #E799AA;
    transition: all ease 1s;
}
#page8-left h4:hover::after{
left: initial;
right: 0;
width: 70%;
}
#page8-right h3{
    font-family: Roobert;
    font-size: 20px;
    font-weight: 400;
}
#page8-right h4 span{
    font-family: Roobert;
    font-size: 18px;
    font-weight: 500;
    color: black;
}
#page8-right #a{
    font-family: Roobert;
    padding-top: 5%;
    font-weight: 400;
    color: #E799AA;
    font-size: 18px;
}
#two-texts{
    display: flex;
    gap: 120px;
    padding-top: 7%;
}
#two-texts p{
    font-family: Roobert;
    font-weight: 400;
    font-size: 18px;
}
#two-texts h4{
    font-family: Roobert;
    font-weight: 400;
    font-size: 18px;
    color: #E799AA;
}
#page8-right h5{
    font-family: Roobert;
    font-weight: 400;
    font-size: 18px;
    padding-top: 12%;
}
#page8-right #b{
    font-family: Roobert;
    font-weight: 400;
    font-size: 18px;
    width: 90%;
    padding-top: 3%;
}
#page8-right #c{
    font-family: Roobert;
    font-weight: 400;
    font-size: 19px;
    padding-top: 18% ;
    color: #E799AA;
    position: relative;
    width: 130px;
}
#page8-right #c::after{
    content: "" ;
    position: absolute;
    height: 2px;
    width: 30%;
    left: 0;
    right: auto;
    bottom: -10px;
    background-color: #E799AA;
    transition: all ease 1s;
}
#page8-right #c:hover::after{
      left: initial;
      right: 0;
      width: 70%;
}
#page8 #last{
height: 100px;
width: 100%;
position: absolute;
bottom: 2%;
display: flex;
align-items: center;
justify-content: space-between;
padding: 0 60px;
}
#icons{
    display: flex;
    gap: 40px;
    align-items: center;
}
#icons h5{
    font-size: 30px;
    color: #E799AA;
}
#last h4{
    font-family: Roobert;
    font-weight: 400;
    font-size: 16px;
}
#d{
    height: 50px;
    width: 40px;
}
#e{
    height: 50px;
    width: 50px;
}
#nav{
    position: fixed;
    height: 100px;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
    left: 0;
    top: 0;
}
#navpart1 h4{
    font-family: Roobert;
    font-size: 18px;
    font-weight: 400;
    position: absolute;

}

#navpart3 h4{
    font-size: 24px;
    font-weight: 600;
    
}
